@model User
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<form method="post" asp-action="Register">
    <input type="text" asp-for="Username" placeholder="Username..." />
    <input type="text" asp-for="Password" placeholder="Password..." />
    <button type="submit">Register</button>
</form>
